<footer>
	<div>
	<div id="colophon">
	<p><em>Made with</em> <%= link_to "Middleman", "http://middlemanapp.com/" %> + <%= link_to "Sublime Text", "http://www.sublimetext.com/" %> + <%= link_to "Typekit", "https://typekit.com/"%> + <%= link_to "Git", "http://git-scm.com/" %>.</p>
</div>

<div id="elsewhere">
	<div>
	<ul>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Email", "mailto:hello@celinenguyen.com?subject=Hello!" %>
		</li>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Twitter", "https://twitter.com/mynameisceline" %>
		</li>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Pinterest", "http://pinterest.com/celinenguyen" %>
		</li>
		<li class="ss-icon ss-social-circle">
			<%= link_to "Dribbble", "http://dribbble.com/celinenguyen" %>
		</li>
	</ul>
	</div>
</div>
</div>
</footer>